# Limpieza de datos con Pandas

In [135]:
import requests
import pandas as pd
import hashlib

## Extrar data api meetup

In [54]:
members = requests.get('https://api.meetup.com/pyladiesEc/members')

In [48]:
members?

In [ ]:
members.json()

## Convertir  DataFrame

In [55]:
membersDataFrame = pd.DataFrame(members.json())

In [56]:
membersDataFrame

,bio,city,country,group_profile,id,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
0,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",274228617,False,1549913446000,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
1,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",276151888,False,1552080861000,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
2,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",276151566,False,1552080453000,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
3,NaN,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",256300260,False,1528495887000,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
4,NaN,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",235853540,False,1504757368000,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
5,NaN,Quito,ec,"{'status': 'active', 'visited': 1552070345000,...",244641411,False,1514321784000,-0.19,Ecuador,-78.50,Andrea C.,"{'id': 273313080, 'highres_link': 'https://sec...",NaN,active
6,NaN,Cuenca,ec,"{'status': 'active', 'visited': 1552062632000,...",274959456,False,1550775169000,-2.90,Ecuador,-79.01,Jorge A.,"{'id': 285317717, 'highres_link': 'https://sec...",NaN,active
7,NaN,Quito,ec,"{'status': 'active', 'visited': 1552062452000,...",264099108,False,1537920016000,-0.19,Ecuador,-78.50,Ingrid,"{'id': 280981629, 'highres_link': 'https://sec...",NaN,active
8,NaN,Guayaquil,ec,"{'status': 'active', 'visited': 1552061417000,...",276101328,False,1552014741000,-2.21,Ecuador,-79.90,Iván P.,"{'id': 285810280, 'highres_link': 'https://sec...",NaN,active
9,NaN,Quito,ec,"{'status': 'active', 'visited': 1552061024000,...",235493187,False,1504384147000,-0.19,Ecuador,-78.50,Andrea,"{'id': 279505242, 'highres_link': 'https://sec...",NaN,active
10,NaN,Quito,ec,"{'status': 'active', 'visited': 1552049994000,...",245597047,False,1515434709000,-0.19,Ecuador,-78.50,Katherine M.,"{'id': 273639156, 'highres_link': 'https://sec...",NaN,active
11,NaN,Quito,ec,"{'status': 'active', 'visited': 1552044284000,...",227211202,False,1494276593000,-0.19,Ecuador,-78.50,Rommel Gutiérrez R.,"{'id': 266752098, 'highres_link': 'https://sec...",NaN,active
12,NaN,Quito,ec,"{'status': 'active', 'visited': 1552043737000,...",250902965,False,1521907209000,-0.19,Ecuador,-78.50,Gabi M.,"{'id': 275808782, 'highres_link': 'https://sec...",NaN,active
13,NaN,Quito,ec,"{'status': 'active', 'visited': 1552041469000,...",273201949,False,1548695415000,-0.19,Ecuador,-78.50,Mayra O.,"{'id': 284564436, 'highres_link': 'https://sec...",NaN,active
14,Desarrolladora de Software,Quito,ec,"{'title': 'PyLady', 'status': 'active', 'visit...",247732691,False,1518021245000,-0.19,Ecuador,-78.50,Gaby G.,"{'id': 274529570, 'highres_link': 'https://sec...",NaN,active
15,NaN,Guayaquil,ec,"{'status': 'active', 'visited': 1552011561000,...",276020102,False,1551926989000,-2.21,Ecuador,-79.90,Mirely T.,"{'id': 285772660, 'highres_link': 'https://sec...",NaN,active
16,NaN,Quito,ec,"{'status': 'active', 'visited': 1552001330000,...",276089997,False,1552000823000,-0.19,Ecuador,-78.50,Daya,NaN,NaN,active
17,NaN,Quito,ec,"{'status': 'active', 'visited': 1552001294000,...",249923190,False,1520684404000,-0.19,Ecuador,-78.50,Marcelo C.,"{'id': 275420286, 'highres_link': 'https://sec...",NaN,active
18,NaN,Quito,ec,"{'status': 'active', 'visited': 1551991909000,...",267202489,False,1541513415000,-0.19,Ecuador,-78.50,Andrea Esther M.,"{'id': 282182737, 'highres_link': 'https://sec...",NaN,active
19,NaN,Quito,ec,"{'status': 'active', 'visited': 1551979004000,...",268797456,False,1543508424000,-0.19,Ecuador,-78.50,Paola C.,"{'id': 282812113, 'highres_link': 'https://sec...",NaN,active
20,NaN,Quito,ec,"{'status': 'active', 'visited': 1551978872000,...",135803972,False,1393988782000,-0.19,Ecuador,-78.50,rojoyin,"{'id': 265333270, 'highres_link': 'https://sec...",NaN,active
21,NaN,Quito,ec,"{'status': 'active', 'visited': 1551923447000,...",276017288,False,1551923430000,-0.19,Ecuador,-78.50,Eduardo R.,"{'id': 285771282, 'highres_link': 'https://sec...",NaN,active
22,NaN,Quito,ec,"{'status': 'active', 'visited': 1551919534000,...",276013944,False,1551919402000,-0.19,Ecuador,-78.50,Jimmy G.,"{'id': 285769528, 'highres_link': 'https://sec...",NaN,active
23,NaN,Quito,ec,"{'status': 'active', 'visited': 1551903787000,...",275999062,False,1551903329000,-0.19,Ecuador,-78.50,Sandra R.,"{'id': 285762009, 'highres_link': 'https://sec...",NaN,active
24,NaN,Quito,ec,"{'status': 'active', 'visited': 1551901214000,...",275993243,False,1551901176000,-0.19,Ecuador,-78.50,Sttefy C.,NaN,NaN,active
25,NaN,Quito,ec,"{'status': 'active', 'visited': 1551886167000,...",274878775,False,1550682678000,-0.19,Ecuador,-78.50,Paolo P,"{'id': 285280202, 'highres_link': 'https://sec...",NaN,active
26,NaN,Bethesda,us,"{'status': 'active', 'visited': 1551859587000,...",143902142,False,1398561957000,38.98,USA,-77.10,Katya,"{'id': 265632334, 'highres_link': 'https://sec...",MD,active
27,NaN,Quito,ec,"{'status': 'active', 'visited': 1551835694000,...",250712955,False,1521664947000,-0.19,Ecuador,-78.50,Rocío E.,"{'id': 275735026, 'highres_link': 'https://sec...",NaN,active
28,NaN,Quito,ec,"{'status': 'active', 'visited': 1551807233000,...",273802988,False,1549397548000,-0.19,Ecuador,-78.50,Angel G,NaN,NaN,active
29,NaN,Cuenca,ec,"{'status': 'active', 'visited': 1551752572000,...",255612452,False,1527704432000,-2.90,Ecuador,-79.01,David D.,"{'id': 277634915, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,NaN,Quito,ec,"{'status': 'active', 'visited': 1551462195000,...",275583623,False,1551462186000,-0.19,Ecuador,-78.50,Raquel V.,"{'id': 285596328, 'highres_link': 'https://sec...",NaN,active
36,NaN,Quito,ec,"{'status': 'active', 'visited': 1551390676000,...",186174514,False,1429038397000,-0.19,Ecuador,-78.50,Marcelo M.,"{'id': 245352027, 'highres_link': 'https://sec...",NaN,active
37,NaN,Northville,us,"{'status': 'active', 'visited': 1551271805000,...",254946768,False,1526868194000,42.42,USA,-83.47,Krlos A Guaillazaca G.,"{'id': 277378185, 'highres_link': 'https://sec...",MI,active
38,NaN,Cuenca,ec,"{'status': 'active', 'visited': 1551241397000,...",266389745,False,1540516366000,-2.90,Ecuador,-79.01,Diana Carolina B.,"{'id': 281868492, 'highres_link': 'https://sec...",NaN,active
39,NaN,Quito,ec,"{'status': 'active', 'visited': 1551240684000,...",275411889,False,1551240672000,-0.19,Ecuador,-78.50,danny r.,"{'id': 285506861, 'highres_link': 'https://sec...",NaN,active
40,NaN,Quito,ec,"{'status': 'active', 'visited': 1551238688000,...",250385747,False,1521248284000,-0.19,Ecuador,-78.50,Hugo Dario T,"{'id': 275601645, 'highres_link': 'https://sec...",NaN,active
41,NaN,Quito,ec,"{'status': 'active', 'visited': 1551207475000,...",53512742,False,1341380552000,-0.19,Ecuador,-78.50,Galo L.,"{'id': 194248112, 'highres_link': 'https://sec...",NaN,active
42,NaN,Quito,ec,"{'status': 'active', 'visited': 1551194612000,...",275367061,False,1551194241000,-0.19,Ecuador,-78.50,Adriana R.,"{'id': 285483601, 'highres_link': 'https://sec...",NaN,active
43,NaN,Quito,ec,"{'status': 'active', 'visited': 1551192450000,...",259030358,False,1531778618000,-0.19,Ecuador,-78.50,Mavelin A.,"{'id': 279192632, 'highres_link': 'https://sec...",NaN,active
44,NaN,Quito,ec,"{'status': 'active', 'visited': 1551169770000,...",259070684,False,1531832013000,-0.19,Ecuador,-78.50,Ximena C.,"{'id': 278951440, 'highres_link': 'https://sec...",NaN,active
45,NaN,Quito,ec,"{'status': 'active', 'visited': 1551125078000,...",237977896,False,1507003583000,-0.19,Ecuador,-78.50,Alexandra H.,"{'id': 271190712, 'highres_link': 'https://sec...",NaN,active
46,Organizadora de R-Ladies Quito / Usuaria de R ...,Quito,ec,"{'status': 'active', 'visited': 1550980082000,...",213001949,False,1473956368000,-0.19,Ecuador,-78.50,Elena C.,"{'id': 265497196, 'highres_link': 'https://sec...",NaN,active
47,Llevando luz digital a la PyMes.,Quito,ec,"{'status': 'active', 'visited': 1550955518000,...",198579333,False,1453680146000,-0.19,Ecuador,-78.50,Lourdes B.,"{'id': 258650314, 'highres_link': 'https://sec...",NaN,active
48,NaN,Quito,ec,"{'status': 'active', 'visited': 1550897644000,...",268755677,False,1543451971000,-0.19,Ecuador,-78.50,Viga,"{'id': 282795829, 'highres_link': 'https://sec...",NaN,active
49,NaN,Quito,ec,"{'status': 'active', 'visited': 1550896049000,...",262025070,False,1535432731000,-0.19,Ecuador,-78.50,Alexandra,NaN,NaN,active
50,NaN,Quito,ec,"{'status': 'active', 'visited': 1550889723000,...",269932525,False,1544901107000,-0.19,Ecuador,-78.50,Washington Fierro S.,"{'id': 283304032, 'highres_link': 'https://sec...",NaN,active
51,NaN,Quito,ec,"{'status': 'active', 'visited': 1550875866000,...",273396042,False,1548896839000,-0.19,Ecuador,-78.50,Andrea L.,"{'id': 284642301, 'highres_link': 'https://sec...",NaN,active
52,NaN,Quito,ec,"{'status': 'active', 'visited': 1550804403000,...",273078108,False,1548561862000,-0.19,Ecuador,-78.50,Santiago,"{'id': 285329401, 'highres_link': 'https://sec...",NaN,active
53,NaN,Quito,ec,"{'status': 'active', 'visited': 1550773382000,...",234383621,False,1503116303000,-0.19,Ecuador,-78.50,Lina C.,"{'id': 269847044, 'highres_link': 'https://sec...",NaN,active
54,"Soy esposa, madre, emprendedora y empresaria Q...",Quito,ec,"{'status': 'active', 'visited': 1550758779000,...",257319462,False,1529758716000,-0.19,Ecuador,-78.50,Katya A.,"{'id': 282786327, 'highres_link': 'https://sec...",NaN,active
55,NaN,Quito,ec,"{'status': 'active', 'visited': 1550721779000,...",108842032,False,1377743733000,-0.19,Ecuador,-78.50,wilmer,"{'id': 277630980, 'highres_link': 'https://sec...",NaN,active
56,NaN,Quito,ec,"{'status': 'active', 'visited': 1550683865000,...",262397218,False,1535908543000,-0.19,Ecuador,-78.50,Roxana,"{'id': 280295458, 'highres_link': 'https://sec...",NaN,active
57,NaN,Quito,ec,"{'status': 'active', 'visited': 1550683543000,...",259539676,False,1532393560000,-0.19,Ecuador,-78.50,Elymar A.,"{'id': 279137929, 'highres_link': 'https://sec...",NaN,active
58,NaN,Quito,ec,"{'status': 'active', 'visited': 1550682205000,...",194969949,False,1446426185000,-0.18,Ecuador,-78.49,Anita S.,"{'id': 251039573, 'highres_link': 'https://sec...",NaN,active
59,NaN,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",116955082,False,1382564434000,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
60,NaN,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",246014322,False,1515952874000,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
61,NaN,Quito,ec,"{'status': 'active', 'visited': 1550630294000,...",274838317,False,1550630269000,-0.19,Ecuador,-78.50,Andrea L.,"{'id': 285260451, 'highres_link': 'https://sec...",NaN,active
62,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",238198836,False,1507240232000,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
63,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",272997265,False,1548473211000,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
64,NaN,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",274833896,False,1550624902000,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

In [62]:
membersDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
bio                       7 non-null object
city                      65 non-null object
country                   65 non-null object
group_profile             65 non-null object
id                        65 non-null int64
is_pro_admin              65 non-null bool
joined                    65 non-null int64
lat                       65 non-null float64
localized_country_name    65 non-null object
lon                       65 non-null float64
name                      65 non-null object
photo                     60 non-null object
state                     3 non-null object
status                    65 non-null object
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 6.7+ KB

#### Limit the number of rows to show

In [73]:
pd.options.display.max_rows = 10

In [ ]:
membersDataFrame.tail() #Five Last rows

In [74]:
membersDataFrame.head()#Five first rows

,bio,city,country,group_profile,id,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
0,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",274228617,False,1549913446000,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
1,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",276151888,False,1552080861000,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
2,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",276151566,False,1552080453000,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
3,NaN,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",256300260,False,1528495887000,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
4,NaN,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",235853540,False,1504757368000,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active

## Datos perdidos

**Delete**
- .isna()    
- .notna()   
- .dropna()

In [77]:
membersDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
bio                       7 non-null object
city                      65 non-null object
country                   65 non-null object
group_profile             65 non-null object
id                        65 non-null int64
is_pro_admin              65 non-null bool
joined                    65 non-null int64
lat                       65 non-null float64
localized_country_name    65 non-null object
lon                       65 non-null float64
name                      65 non-null object
photo                     60 non-null object
state                     3 non-null object
status                    65 non-null object
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 6.7+ KB

In [82]:
missingState = membersDataFrame['state'].notna()

In [83]:
missingState.sum()

3

In [ ]:
membersDataFrame.drop("state", axis=1)

## Borrar espacios en blanco

In [144]:
membersDataFrame['bio'].str.strip()

id
274228617    Es un grupo que tiene como objetivo proporcion...
276151888    entusiasta por aprender cosas relacionadas con...
276151566    Estudiante de Maestría en Sistemas Inteligente...
256300260                                                  NaN
235853540                                                  NaN
                                   ...
116955082                                                  NaN
246014322                                                  NaN
238198836                                                  NaN
272997265                                                  NaN
274833896                                                  NaN
Name: bio, Length: 63, dtype: object

#### Filling missing values
- .fillna()
- .ffill()

In [153]:
membersDataFrame.fillna(0)
membersDataFrame.mean()
membersDataFrame['bio'].fillna('Interés en aprender Python',inplace=True)

In [154]:
membersDataFrame

,bio,city,country,group_profile,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
id,,,,,,,,,,,,,
274228617,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",False,2019-02-11 19:30:46,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
276151888,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",False,2019-03-08 21:34:21,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
276151566,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",False,2019-03-08 21:27:33,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
256300260,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",False,2018-06-08 22:11:27,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
235853540,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",False,2017-09-07 04:09:28,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116955082,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",False,2013-10-23 21:40:34,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
246014322,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",False,2018-01-14 18:01:14,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
238198836,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",False,2017-10-05 21:50:32,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
272997265,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",False,2019-01-26 03:26:51,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
274833896,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",False,2019-02-20 01:08:22,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

In [147]:
membersDataFrame

,bio,city,country,group_profile,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
id,,,,,,,,,,,,,
274228617,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",False,2019-02-11 19:30:46,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
276151888,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",False,2019-03-08 21:34:21,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
276151566,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",False,2019-03-08 21:27:33,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
256300260,NaN,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",False,2018-06-08 22:11:27,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
235853540,NaN,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",False,2017-09-07 04:09:28,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116955082,NaN,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",False,2013-10-23 21:40:34,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
246014322,NaN,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",False,2018-01-14 18:01:14,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
238198836,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",False,2017-10-05 21:50:32,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
272997265,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",False,2019-01-26 03:26:51,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
274833896,NaN,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",False,2019-02-20 01:08:22,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

## Valores duplicados

In [126]:
membersDataFrame['id'].value_counts()

250712955    1
276151888    1
238198836    1
186174514    1
275411889    1
            ..
135803972    1
235493187    1
227211202    1
143902142    1
244641411    1
Name: id, Length: 63, dtype: int64

In [127]:
membersDataFrame['name'].value_counts()

Roxana           1
Daya             1
Andrea           1
Leo C.           1
Luis Paz y M.    1
                ..
Anita S.         1
Andrea C.        1
Anar             1
Mavelin A.       1
Edison I.        1
Name: name, Length: 63, dtype: int64

In [124]:
membersDataFrame.drop_duplicates(subset ="name", keep = False, inplace = True) 
membersDataFrame

,bio,city,country,group_profile,id,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
0,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",274228617,False,1549913446000,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
1,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",276151888,False,1552080861000,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
2,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",276151566,False,1552080453000,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
3,NaN,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",256300260,False,1528495887000,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
4,NaN,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",235853540,False,1504757368000,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NaN,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",116955082,False,1382564434000,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
60,NaN,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",246014322,False,1515952874000,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
62,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",238198836,False,1507240232000,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
63,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",272997265,False,1548473211000,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
64,NaN,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",274833896,False,1550624902000,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

In [125]:
membersDataFrame['name'].value_counts()

Roxana           1
Daya             1
Andrea           1
Leo C.           1
Luis Paz y M.    1
                ..
Anita S.         1
Andrea C.        1
Anar             1
Mavelin A.       1
Edison I.        1
Name: name, Length: 63, dtype: int64

## Normalizar tipos de datos

In [130]:
membersDataFrame['joined'] = pd.to_datetime(membersDataFrame['joined'],unit='ms')

In [131]:
membersDataFrame

,bio,city,country,group_profile,id,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
0,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",274228617,False,2019-02-11 19:30:46,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
1,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",276151888,False,2019-03-08 21:34:21,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
2,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",276151566,False,2019-03-08 21:27:33,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
3,NaN,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",256300260,False,2018-06-08 22:11:27,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
4,NaN,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",235853540,False,2017-09-07 04:09:28,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NaN,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",116955082,False,2013-10-23 21:40:34,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
60,NaN,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",246014322,False,2018-01-14 18:01:14,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
62,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",238198836,False,2017-10-05 21:50:32,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
63,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",272997265,False,2019-01-26 03:26:51,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
64,NaN,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",274833896,False,2019-02-20 01:08:22,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

### Cambiar el index DataFrame

In [141]:
membersDataFrame['id'].is_unique
membersDataFrame.set_index('id', inplace=True)

KeyError: 'id'

In [140]:
membersDataFrame

,bio,city,country,group_profile,is_pro_admin,joined,lat,localized_country_name,lon,name,photo,state,status
id,,,,,,,,,,,,,
274228617,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",False,2019-02-11 19:30:46,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
276151888,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",False,2019-03-08 21:34:21,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
276151566,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",False,2019-03-08 21:27:33,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
256300260,NaN,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",False,2018-06-08 22:11:27,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
235853540,NaN,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",False,2017-09-07 04:09:28,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116955082,NaN,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",False,2013-10-23 21:40:34,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
246014322,NaN,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",False,2018-01-14 18:01:14,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
238198836,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",False,2017-10-05 21:50:32,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
272997265,NaN,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",False,2019-01-26 03:26:51,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
274833896,NaN,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",False,2019-02-20 01:08:22,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

### Rename columns

In [156]:
membersDataFrame.rename(columns = {'joined':'date_joined'})

,bio,city,country,group_profile,is_pro_admin,date_joined,lat,localized_country_name,lon,name,photo,state,status
id,,,,,,,,,,,,,
274228617,Es un grupo que tiene como objetivo proporcion...,Quito,ec,"{'status': 'active', 'visited': 1552000383000,...",False,2019-02-11 19:30:46,-0.19,Ecuador,-78.50,Pyladies E.,"{'id': 284993895, 'highres_link': 'https://sec...",NaN,active
276151888,entusiasta por aprender cosas relacionadas con...,Loja,ec,"{'status': 'active', 'visited': 1552081166000,...",False,2019-03-08 21:34:21,-3.99,Ecuador,-79.21,Jessica M.,NaN,NaN,active
276151566,Estudiante de Maestría en Sistemas Inteligente...,Quito,ec,"{'status': 'active', 'visited': 1552080611000,...",False,2019-03-08 21:27:33,-0.19,Ecuador,-78.50,Silvy V.,"{'id': 285836294, 'highres_link': 'https://sec...",NaN,active
256300260,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1552078775000,...",False,2018-06-08 22:11:27,-0.19,Ecuador,-78.50,Leo C.,"{'id': 277908461, 'highres_link': 'https://sec...",NaN,active
235853540,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1552077570000,...",False,2017-09-07 04:09:28,-0.19,Ecuador,-78.50,Luis Paz y M.,"{'id': 270416997, 'highres_link': 'https://sec...",NaN,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116955082,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550681949000,...",False,2013-10-23 21:40:34,-0.19,Ecuador,-78.50,damian,"{'id': 256146960, 'highres_link': 'https://sec...",NaN,active
246014322,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550679200000,...",False,2018-01-14 18:01:14,-0.19,Ecuador,-78.50,Alicia V.,"{'id': 273816204, 'highres_link': 'https://sec...",NaN,active
238198836,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550628715000,...",False,2017-10-05 21:50:32,-0.19,Ecuador,-78.50,Eduardo V.,"{'id': 271271802, 'highres_link': 'https://sec...",NaN,active
272997265,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550628509000,...",False,2019-01-26 03:26:51,-0.19,Ecuador,-78.50,Martha San A.,"{'id': 284487523, 'highres_link': 'https://sec...",NaN,active
274833896,Interés en aprender Python,Quito,ec,"{'status': 'active', 'visited': 1550624932000,...",False,2019-02-20 01:08:22,-0.19,Ecuador,-78.50,Carolina B.,"{'id': 285258259, 'highres_link': 'https://sec...",NaN,active

### Guardar Resultdos

In [165]:
membersDataFrame.to_csv('membersMetup.csv', encoding='utf-8')